@import
url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
	font-family: 'Muli', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
#title{
  text-align: center;
  padding: 30px 20px;
  font-size: 40px;
}


body{
    margin: 0;
    background-image: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

/* Navigation Bar Start */
.topnav {
    background-color: #3175DE;
    overflow: hidden;

    
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
  }

  .navbar-item{
    float: right;
    display: block;
    color: #000000;
    background-color: white;
    text-align: center;
    text-decoration: none;
    font-size: 80%;
    border-radius: 30px;
    margin-top: 2%;
    margin-right: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
  }

  .coin_img{
    width: 20px;
    margin-left: 10px;
  }

  .navbar-token{
    margin-top: 2px;
    margin-bottom: 0;
  }


  
  
  /* Change the color of links on hover */
  .topnav a:hover {
    color: black;

  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    text-align: center;
    padding: 2.3% 5%;
    font-size: 200%;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }


  #logout{
  
    display: none;

  }

  #logout-btn{
    background: linear-gradient(45deg,  #2A265F,  #67639b);
    padding: 10px;
    border-radius: 30px;
  }

  @media screen and (max-width: 860px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }


    .navbar-item{
    display: block; 
    font-size: 80%;
    border-radius: 30px;
    margin-top: 3%;
    margin-right: 10px;
    padding: 5px;
    display: flex;
    flex-direction: row;
  
  }

    .coin_img{
    width: 18px;
    margin-left: 5px;
  }

    
}

@media screen and (max-width: 500px) {
  .navbar-item{
    display: block; 
    font-size: 40%;
    border-radius: 30px;
    margin-top: 4%;
    margin-right: 10px;
    padding: 5px;
    display: flex;
    flex-direction: row;
  
  }

    .coin_img{
    width: 13px;
    margin-left: 5px;
  }


  
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 860px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive .navbar-item{
        display: none;
    }
    .topnav.responsive #logout{
        display: block;
    }

    .topnav.responsive .navbar-links_container-item  {
        
        padding: 14px 50px;
        
      }

    .topnav.responsive #logout-btn{
        margin-bottom: 10%;
        text-align: center;
        
    }

    .topnav.responsive #logout{
        margin-bottom: 5%;
        padding-top: 5%;
        
        
    }
}


/* Navigation Bar End */



/* Search Wrap */
.search_wrap{
    display: flex;
    flex-direction: row;
    height: 7vh;
    align-items: center;
    margin-left: 7.7%;
    width: 41%;
    margin-bottom: 5vh;
    /* background-color: red; */
    
}
.search_wrap .search_course{
    margin: 0;
    width: 21vw;
    margin-right: 7vw;
}
.search_wrap .search_course input::placeholder{
    font-size: 1rem;
}

@media (max-width:570px){
    .search_wrap .search_course{
        width: 28vw; 
        height: 4vh;
    }
    .search_wrap .search_course input::placeholder{
        font-size: .8rem;
    }
    .search_wrap .dropdown{
        width: 19vw;
    }
    .search_wrap .dropdown {
        font-size: .9rem;
    }
    .search_wrap{
        margin-bottom: 2vh;
    }
    
}
/* Search Wrap End */


/* Course Grid */
.course_grid{
    width: 90%;
    margin-left: 6%;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}
.left_grid{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-left: 0;
    margin-right: 8%;

}
.right_grid{
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 45%;
}
.course {
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	overflow: hidden;
	width: 100%;
    height: 35vh;
    margin-bottom: 5vh;
}
.course h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
    font-size: .8rem;
}
.course h2 {
	letter-spacing: 1px;
	margin: 2vw 0;
    font-size: 1.7rem;
}
.course-preview {
	background-color: #2A265F;
	color: #fff;
	padding: 1.2em;
    
}
.course-info {
	padding: 1.2em;
	position: relative;
}
.course-info h6{
    font-size: .75rem;
}
.description-text{
    padding-top: 5%;
    font-size: .65rem;
    margin-bottom: 12vh;
}
.reward {
    border: 1px solid black;
    float: left;
    height: 4vh;
    border-radius: 30px;
    padding: 0 3%;
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 8vw;
}
.reward p{
    font-size: .64rem;

}
.reward img{
    width: 1.5vw;
    margin-left: 10%;
}
.button{
	background-color: #2A265F;
    border: none;
    height: 4vh;
    width: 32%;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: .8rem;
	letter-spacing: 1px;
    text-decoration: none;
}

.reward-amount{
    margin-bottom: 0;
}

@media (max-width:570px){
    .courseCard .course .course-preview h6{
        font-size: .5rem;
        margin-bottom: 3vh;
    } 
    .courseCard .course .course-preview h2{
        font-size: 1rem;
    }
    .courseCard{
        margin-right: 1vw;
        width: 93.5vw !important;
        
    }
    .description-text{
        margin-bottom: 8vh;
    }
    .course-info h6{
        margin-bottom: 2vh;
    }
    .reward{
        width: 15vw;
        /* margin-right: 20vw; */
        height: 3vh;
        border-radius: 15px;
    }
    .reward p{
        font-size: .55rem;
    }
    .reward img{
    
    }
    .course-info .button{
        width: 20vw;
        height: 3vh;
        font-size: .55rem;
    }
    .reward img{
        width: 2vw;
        margin-left: 5%;
    }
    

}
/* Course Grid End */



 
/* Footer */
#footer {
	margin-top:10% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #3175DE;
    padding-left: 20px;
	padding-bottom: 3%;
    padding-top: 3%;
    color: white;

}

.footer-btn-container{
    display: flex;
    flex-direction: row;
}
.footer-heading {
    width: 100%;
    text-align: center;

    margin-bottom: 3rem;
}

.footer-heading h1 {
    font-weight: 800;
    font-size: 64px;
    line-height: 75px;
}

.footer-btn {
    display: flex;
    align-items: center;
    margin-left: 2%;
    padding: 1rem;
    border: 1px solid #fff;
    text-align: center;

    margin-bottom: 10rem;
    cursor: pointer;
}

.footer-btn p {
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    word-spacing: 2px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
    text-align: left;
}

.footer-links div {
    width: 250px;
    margin: 1rem;
}

.footer-links_logo {
    display: flex;
    flex-direction: column;
    
}

.footer-links_logo img {
    width: 118px;
    height: 30px;

    margin-bottom: 1rem;
}

.footer-links_logo p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 15px;
    color: #fff;
}

.footer-links_div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.footer-links_div h4 {
    font-size: 14px;
    line-height: 17px;
    font-family: var(--font-family);
    color: #fff;

    margin-bottom: 0.9rem;
}

.footer-links_div p {
    font-size: 12px;
    line-height: 15px;
    font-family: var(--font-family);
    color: #fff;

    margin: 0.5rem 0;
    cursor: pointer;
}

.footer-copyright {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}

.footer-copyright p {
    font-size: 12px;
    font-family: var(--font-family);
    line-height: 15px;
    color: #fff;
}
/* Footer End */
